{% extends "inventApp/layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
{% include "inventApp/navbar.html" %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Product Inventory Management System</h1>
    <p class="lead">Manage Your Product efficiently and effectively</p>
    <hr class="my-4">
    <p class="">Use nagivation bar to add, delete, update a product.</p>
    <a href="{% url 'product_list' %}" class="btn btn-primary btn-lg" role="button">Show All Products</a>
</div>
{% endblock content %}