{% extends "inventApp/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login Page
{% endblock title %}

{% block content %}
<div class="container bg-light shadow-md p-5 form-layout">
    <h3>Login to your account</h3>
    <hr>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{form.username|as_crispy_field}}
        <br>
        {{form.password|as_crispy_field}}
        <br>
        <button type="submit" class="btn btn-primary p-2">Login &nbsp; <i class="fa fa-key" aria-hidden="true"></i></button>
    </form>
    <br>
    <div class="text-center">
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
    <br>
</div>
{% endblock %}